extends layout

block layout-content
 div.View.WelcomeView
  div.View
    h1.Banner MIAU LOGIN
    div.Message
      div.Title
        h1 Holi
      span.Details Espero que funsione
    div.NavButtons
      a(href="/user")
          div.NavButton Bueno vamos
          br